@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My puppies";
}
<div class="text-center">
    <h2>My puppies</h2>
</div>